.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/gradle-wrapper.jar
!**/src/test/resources/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/idea
!**/src/test/resources/idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Others ###
bin/
!**/src/main/resources/bin
!**/src/test/resources/bin
*.log
build_log.txt
*.tmp
*.bak
*.swp
*~
.DS_Store
/data/
*.mv.db
*.trace.db
